<form action="/newUser" method="POST">
    <p>nome: </p>
    <input type="text" name="user"/>
    <p>email: </p>
    <input type="text"name="email"/>
    <p>senha: </p>
    <input type="text"name="password"/>
    <button type="submit">Cadastrar</button></a>
</form>