<form action="/log" method="post">
    <a>Email: </a>
    <input type="text" name="email"/>
    <a>Senha: </a>
    <input type="password" name="password" />
    <button type="submit">Entrar</button>
</form>