<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link href='//fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,100,200,300,400,500,600,700,800' 
rel='stylesheet' type='text/css'>
    <style>
        *{
            margin: 0px;
            list-style: none;
            font-family: 'Montserrat';
        }
        .bodyC{
            background-image:linear-gradient(-90deg, rgba(255, 115, 52, 0.45) , rgba(8, 166, 173, 0.45) );
        }
        .container{
            padding: 50px 350px 40px 350px;
        }
        .initTitulo {
            color: #333;
            font-size:38px;
            text-align:center;
        }
        .teste {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px 0px 10px 0px;
        }
        .btnEntrar{
            padding: 10px 20px 10px 20px;
            width: 100%;
            background-color: #00A9B1;
            color: #fff;
            border-width: 0px;
        }
        .btnCriarPerfil{
            padding: 10px 20px 10px 20px;
            width: 100%;
            background-color: #00A9B1;
            color: #fff;
            border-width: 0px;
        }
        .teste a{
            width: 50%;
            margin: 0px 10px 0px 10px;
        }
        .logoMain{
            width: 350px;
        }
        .subTitulo{
            color: #333;
        }
    </style>
</head>
<body class="bodyC">
    {{{body}}}
</body>
</html>