<div class="container">
    <div class="teste">
        <img src="https://uploads-ssl.webflow.com/5e2088af647de0b43c9ff21d/5e2208cca1866d0d67fc2c31_logo.png" class="logoMain"/>
    </div>
    <div class="teste"></div>
        <h2 class="initTitulo">Área de Membros</h2>
    </div>
</div>
<div class="container">
    <div class="teste">
        <h3 class="subTitulo">Entre ou crie um perfil</h3>
    </div>
    <div class="teste">
        <a href="http://localhost:8081/entrar"><button class="btnEntrar">Entrar</button></a>
        <a href="http://localhost:8081/cadastro"><button class="btnCriarPerfil">Criar Perfil</button></a>
    </div>
</div>